@media print {
    body * {
        visibility: hidden;
    }

    #printContent,
    #printContent * {
        visibility: visible;
    }

    #printContent {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
    }
}